In [2]:
!pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 9.3 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset/data.csv', encoding='latin-1')
df.head(5)

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [5]:
df.shape

(13169, 13)

In [6]:
#Mengecek duplikasi pada data
df.duplicated().sum()

125

In [7]:
#Menunjukkan baris mana saja yang duplikat
df.loc[df.duplicated(), :]

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
295,#GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...,0,0,0,0,0,0,0,0,0,0,0,0
378,#GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...,0,0,0,0,0,0,0,0,0,0,0,0
1559,Presiden yang anda tuduh Rezim anti Islam suda...,1,0,1,0,0,0,0,0,1,1,0,0
1565,USER USER USER USER USER USER USER USER USER U...,0,0,0,0,0,0,0,0,0,0,0,0
1583,Saya suka video USER,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12793,I added a video to a USER playlist,0,0,0,0,0,0,0,0,0,0,0,0
12952,USER USER USER USER USER USER USER USER USER U...,0,0,0,0,0,0,0,0,0,0,0,0
12953,"SETUJU SAYA,KLAU AHOK DAPAT GELAR SANTRI KEHOR...",1,1,1,0,0,0,0,0,1,1,0,0
12985,USER ahmad dhani yang terhormat paling babi pa...,1,1,1,0,0,0,0,1,0,1,0,0
13075,*Bravoo Presiden Jokowi !ð???* Presiden Joko W...,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
#Contoh tweet yang duplikasi
df[df['Tweet']=='Giat Bhabinkamtibmas Brigpol Mbs Sihombing pd hari ini, Rabu 11 April 2018 melaks sambang desa dan tatap muka sekaligus monitoring Kamtibmas menuju Pilkada 2018 di Desa Lobusiregar I, tepatnya dirumah Rudi Panjaitan, Helman Siahaan dan Hotman Siahaan']

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
165,Giat Bhabinkamtibmas Brigpol Mbs Sihombing pd ...,0,0,0,0,0,0,0,0,0,0,0,0
4928,Giat Bhabinkamtibmas Brigpol Mbs Sihombing pd ...,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
#Hapus data yang duplikasi, mengambil data yang terakhir (last)
df1 = df.drop_duplicates(keep='last')
df1.head(5)

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [10]:
df1.shape

(13044, 13)

In [11]:
#Mengganti nama kolom
df1 = df1.rename(columns={'HS_Individual':'Individual', 'HS_Group':'Group', 'HS_Religion':'Religion', 'HS_Race':'Race', 'HS_Gender':'Gender', 'HS_Weak':'Weak', 'HS_Moderate':'Moderate', 'HS_Strong':'Strong'})
df1.head(5)

,Tweet,HS,Abusive,Individual,Group,Religion,Race,HS_Physical,Gender,HS_Other,Weak,Moderate,Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [12]:
df1.shape

(13044, 13)

In [47]:
#Mencari tweet yang mengandung ujaran kebencian atau abusive saja
tweet = df1[(df1['HS'] == 1) | (df1['Abusive'] == 1)]
tweet.head(5)

,Tweet,HS,Abusive,Individual,Group,Religion,Race,HS_Physical,Gender,HS_Other,Weak,Moderate,Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0
5,USER Ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...,1,1,0,1,0,0,0,0,1,0,1,0
7,Gue baru aja kelar re-watch Aldnoah Zero!!! pa...,0,1,0,0,0,0,0,0,0,0,0,0

In [14]:
tweet.shape

(7261, 13)

In [37]:
tweet1 = pd.DataFrame(df['Tweet'])
tweet1.head(5)

                                               Tweet
0  - disaat semua cowok berusaha melacak perhatia...
1  RT USER: USER siapa yang telat ngasih tau elu?...
2  41. Kadang aku berfikir, kenapa aku tetap perc...
3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4  USER USER Kaum cebong kapir udah keliatan dong...

In [16]:
#Tweet cleansing
from unidecode import unidecode
import re

In [38]:
#ASCII removal
def repl_ascii(text):
    return unidecode(text)
def remove_ascii(text):
    return re.sub(r"\\x[A-Za-z0-9./]+", '', unidecode(text))
tweet1['Tweet'] = tweet1['Tweet'].apply(remove_ascii)
tweet1.head(10)

                                               Tweet
0  - disaat semua cowok berusaha melacak perhatia...
1  RT USER: USER siapa yang telat ngasih tau elu?...
2  41. Kadang aku berfikir, kenapa aku tetap perc...
3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4  USER USER Kaum cebong kapir udah keliatan dong...
5                          USER Ya bani taplak dkk '
6  deklarasi pilkada 2018 aman dan anti hoax warg...
7  Gue baru aja kelar re-watch Aldnoah Zero!!! pa...
8  Nah admin belanja satu lagi port terbaik nak m...
9                      USER Enak lg klo smbil ngewe'

In [39]:
def newline_remove(s):
    return s.strip().replace(r'\n'," ")

tweet1['Tweet'] = tweet1['Tweet'].apply(newline_remove)
tweet1.head(8)

                                               Tweet
0  - disaat semua cowok berusaha melacak perhatia...
1  RT USER: USER siapa yang telat ngasih tau elu?...
2  41. Kadang aku berfikir, kenapa aku tetap perc...
3  USER USER AKU ITU AKU  KU TAU MATAMU SIPIT TAP...
4  USER USER Kaum cebong kapir udah keliatan dong...
5                          USER Ya bani taplak dkk '
6  deklarasi pilkada 2018 aman dan anti hoax warg...
7  Gue baru aja kelar re-watch Aldnoah Zero!!! pa...

USER removal dilakukan karena pada data, mention sudah berganti dengan USER sehingga lebih baik dihapus agar tidak mendominasi analisis kata

In [40]:
#Kata 'USER' removal 
def remove_user(text):
  return re.sub('USER', '', text)

tweet1['Tweet'] = tweet1['Tweet'].apply(remove_user)
tweet1.head(10)

                                               Tweet
0  - disaat semua cowok berusaha melacak perhatia...
1  RT :  siapa yang telat ngasih tau elu?edan sar...
2  41. Kadang aku berfikir, kenapa aku tetap perc...
3    AKU ITU AKU  KU TAU MATAMU SIPIT TAPI DILIAT...
4    Kaum cebong kapir udah keliatan dongoknya da...
5                               Ya bani taplak dkk '
6  deklarasi pilkada 2018 aman dan anti hoax warg...
7  Gue baru aja kelar re-watch Aldnoah Zero!!! pa...
8  Nah admin belanja satu lagi port terbaik nak m...
9                           Enak lg klo smbil ngewe'

RT removal dilakukan karena pada data, mention sudah berganti dengan RT sehingga lebih baik dihapus agar tidak mendominasi analisis kata

In [41]:
#Kata 'RT' removal 
def remove_rt(text):
  return re.sub('RT', '', text)

tweet1['Tweet'] = tweet1['Tweet'].apply(remove_rt)
tweet1.head(5)

                                               Tweet
0  - disaat semua cowok berusaha melacak perhatia...
1   :  siapa yang telat ngasih tau elu?edan sarap...
2  41. Kadang aku berfikir, kenapa aku tetap perc...
3    AKU ITU AKU  KU TAU MATAMU SIPIT TAPI DILIAT...
4    Kaum cebong kapir udah keliatan dongoknya da...

In [42]:
#Emojis removal
def remove_emojis(text):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', text)

tweet1['Tweet'] = tweet1['Tweet'].apply(remove_emojis)
tweet1.head(5)

                                               Tweet
0  - disaat semua cowok berusaha melacak perhatia...
1   :  siapa yang telat ngasih tau elu?edan sarap...
2  41. Kadang aku berfikir, kenapa aku tetap perc...
3    AKU ITU AKU  KU TAU MATAMU SIPIT TAPI DILIAT...
4    Kaum cebong kapir udah keliatan dongoknya da...

In [43]:
#Punctuation removal
def punc_remove(text):
    return re.sub(r'[^\w\d\s]', '', text)

tweet1['Tweet'] = tweet1['Tweet'].apply(punc_remove)
tweet1.head(8)

                                               Tweet
0   disaat semua cowok berusaha melacak perhatian...
1     siapa yang telat ngasih tau eluedan sarap g...
2  41 Kadang aku berfikir kenapa aku tetap percay...
3    AKU ITU AKU  KU TAU MATAMU SIPIT TAPI DILIAT...
4    Kaum cebong kapir udah keliatan dongoknya da...
5                                Ya bani taplak dkk
6  deklarasi pilkada 2018 aman dan anti hoax warg...
7  Gue baru aja kelar rewatch Aldnoah Zero paling...

In [44]:
#Mejadikan seluruh kata menjadi lowercase
tweet1 = pd.DataFrame((tweet1['Tweet']).str.lower())
tweet1.head(8)

                                               Tweet
0   disaat semua cowok berusaha melacak perhatian...
1     siapa yang telat ngasih tau eluedan sarap g...
2  41 kadang aku berfikir kenapa aku tetap percay...
3    aku itu aku  ku tau matamu sipit tapi diliat...
4    kaum cebong kapir udah keliatan dongoknya da...
5                                ya bani taplak dkk
6  deklarasi pilkada 2018 aman dan anti hoax warg...
7  gue baru aja kelar rewatch aldnoah zero paling...

In [45]:
#Menghitung jumlah kata dalam setiap tweet/cuitan
def split_kalimat(text):
  return (len(text.split()))

tweet1['total_kata'] = tweet1['Tweet'].apply(split_kalimat)
tweet1.head(3)

                                               Tweet  total_kata
0   disaat semua cowok berusaha melacak perhatian...          21
1     siapa yang telat ngasih tau eluedan sarap g...          18
2  41 kadang aku berfikir kenapa aku tetap percay...          37

In [48]:
#Menghapus kolom tweet karena unik dan tidak bernilai angka
tweet2 = tweet.drop(['Tweet'], axis=1)
tweet2.head(5)

,HS,Abusive,Individual,Group,Religion,Race,HS_Physical,Gender,HS_Other,Weak,Moderate,Strong
0,1,1,1,0,0,0,0,0,1,1,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
4,1,1,0,1,1,0,0,0,0,0,1,0
5,1,1,0,1,0,0,0,0,1,0,1,0
7,0,1,0,0,0,0,0,0,0,0,0,0

In [52]:
total_hs_abus = {
    'HS': tweet2['HS'].value_counts(),
    'Abusive': tweet2['Abusive'].value_counts()
}
total_type = {
    'Individual': tweet2['Individual'].value_counts(),
    'Group': tweet2['Group'].value_counts(),
    'Religion': tweet2['Religion'].value_counts(),
    'Race': tweet2['Race'].value_counts(),
    'Gender': tweet2['Gender'].value_counts()
}
total_level = {
    'Weak': tweet2['Weak'].value_counts(),
    'Moderate': tweet2['Moderate'].value_counts(),
    'Strong': tweet2['Strong'].value_counts()
}

df_total1 = pd.DataFrame.from_dict(total_level)
df_total1

   Weak  Moderate  Strong
0  3913      5563    6789
1  3348      1698     472